<% if current_user.present? %>
  <% if current_user.issuperadmin? || current_user.isadmin? %>
<%= link_to "New Type", new_type_path, class: "justify-content-center d-flex" %>
  <% end %>
<% end %>
<% if current_user.present? %>
  <% if current_user.issuperadmin? || current_user.isadmin? %>
    <section id="offersTable" style="margin-bottom: 100px;">
      <div class="container mt-7">
          <!-- Table -->
          <div class="row">

            <div class="col">
              <div class="card shadow">
                <div class="card-header border-0">
                  <h3 class="mb-0">Types</h3>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Added By</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @types.each do |type| %>
                        <tr> 
                            <td><div class="yow" style="
                              background-image: url(<%= type.image_url %>);
                              height: 50px;
                              background-position: center;
                              background-repeat: no-repeat;
                              background-size: contain;
                          "></div></td>
                            <td><%= type.name %></td>
                            <td><%= type.user.first_name %> <%= type.user.last_name %></td>
                            <td><%= link_to "Show", type %></td>
                            <td><%= link_to "Edit", edit_type_path(type) %></td>
                            <td><%= link_to "Destroy", type, method: :delete, data: { confirm: "Are you sure?" } %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
                
              </div>
            </div>
          </div>
          <!-- Dark table -->
          
        </div>
    </section>
  <% end %>
<% end %>

<section id="carsTitle">
  <h1>Explore Car Types</h1>
  <p>We make owning a car easy and affordable. <br> Check out our high-quality used cars for sale.</p>
</section>

<section id="carsList">
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-left bd-highlight mb-3 flex-wrap cars-container">
        
        <% @types.each do |type| %>
            <div class="p-2 bd-highlight w-25 pre-card">
              <div class="card">
                <div class="cars-list-image" style="
          background-image: url(<%= type.image_url %>);
          height: 250px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 250px;
          background-color: white;
          border-bottom: 1px solid gray;
      "></div>
                <div class="card-body text-center">
                  <h5 class="card-title"><%= type.name %></h5>
                  <%= link_to "Explore", type, class: "btn btn-primary text-white bg-purple text-center" %>
                </div>
              </div>
            </div>
        <% end %>
      
      </div>
    </div>
  </div>
</section>