<section id="homeFeatured">
  <div class="container-fluid">
    <div class="row">
        <div class="col left-text">
          <div class="group">
            <h1>Toyota Fortuner 2021</h1>
            <h1 class="second-title">30,000 mileage</h1>
            <div class="subtitle">Used, Second-Hand and Repossessed Cars. Low Priced, High Quality.</div>
            <a class="btn btn-primary text-white bg-purple w-25 py-3" href="/users/sign_up">Make Offer</a>
          </div>
        </div>
        <div class="col right-image"> 
          <div class="group">
            <%= image_tag "image.jpeg", alt: "Eastwest", style: "height: auto;width:100%;" %>
          </div>
        </div>
    </div>
  </div>
</section>
<h1>Latest Listing</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>brand</th>
      <th>year</th>
      <th>model</th>
      <th>fuel</th>
      <th>plate_number</th>
      <th>color</th>
      <th>mileage</th>
      <th>price</th>
      <th>deadline</th>
      <th>warehouse</th>
      <th>image</th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.id %></td>
        <td><%= car.brand %></td>
        <td><%= car.year %></td>
        <td><%= car.model %></td>
        <td><%= car.fuel %></td>
        <td><%= car.plate_number %></td>
        <td><%= car.color %></td>
        <td><%= number_to_currency(car.mileage, precision: 0, :unit => "") %></td>
        <td><%= number_to_currency(car.price, :unit => "P ", precision: 0) %></td>
        <td><%= car.deadline %></td>
        <td><%= car.warehouse %></td>
        <td><%= image_tag car.image_url if car.image %></td>
        <td><%= link_to "Make Offer", car %></td>
      </tr>
    <% end %>


  </tbody>
</table>
<br><br>
<h1>View by Brands</h1>

    <% @brands.each do |brand| %>
      <td><%= link_to brand.name, brand %></td>
      <td><%= image_tag brand.image_url if brand.image %></td>
    <% end %>

  <br><br>
<h1>View by Car Type</h1>

    <% @types.each do |type| %>
       <td><%= link_to type.name, type %></td>
       <td><%= image_tag type.image_url if type.image %></td>
    <% end %>
