<section id="homeFeatured">
  <div class="container-fluid">
    <div class="row">
     <% @latest_features.each do |latest_feature| %>
        <div class="col left-text">
          <div class="group">
            <h1><%= latest_feature.brand.name %> <%= latest_feature.model %> <%= latest_feature.year %></h1>
            <h1 class="second-title"><%= number_to_currency(latest_feature.mileage, precision: 0, :unit => "") %> mileage</h1>
            <div class="subtitle">Used, Second-Hand and Repossessed Cars. Low Priced, High Quality.</div>
            <%= link_to "Make Offer", latest_feature, class: "btn btn-primary text-white bg-purple w-25 py-3" %>
          </div>
        </div>
        <div class="col right-image"> 
          <div class="group">
            <%= image_tag latest_feature.image_url, style: "width: 100%;height: auto;" if latest_feature.image %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section id="homeLatest">
  <div class="container">
    <div class="row">
      <h1>Latest Listings</h1>
    </div>
    <div class="wrapper">
      <div class="carousel">
        <% @cars.each do |car| %>
            <div class="latest-item">
              <div class="latest-image" style="
        background-image: url(<%= car.image_url %>);
        height: 250px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    ">
              </div>
              <div class="latest-description">
                <h5><%= car.year %> <%= car.brand.name %> <%= car.model %></h5>
                <p class="latest-price"><b>Price:</b> <%= number_to_currency(car.price, :unit => "P", precision: 0) %></p>
                <p class="latest-mileage"><b>Milage:</b> <%= number_to_currency(car.mileage, precision: 0, :unit => "") %> KM</p>
                <%= link_to "Make Offer", car, class: "btn btn-primary text-white bg-purple" %>
              </div>
            </div>
        <% end %>

      </div>
    </div>
</div>
</section>
<br><br>
<h1>View by Brands</h1>

    <% @brands.each do |brand| %>
      <td><%= link_to brand.name, brand %></td>
      <td><%= image_tag brand.image_url if brand.image %></td>
    <% end %>

  <br><br>
<h1>View by Car Type</h1>

    <% @types.each do |type| %>
       <td><%= link_to type.name, type %></td>
       <td><%= image_tag type.image_url if type.image %></td>
    <% end %>