<p id="notice"><%= notice %></p>


<% if current_user.present? %>
  <% if current_user.issuperadmin? || current_user.isadmin? %>
  <p>
    <strong>Name:</strong>
    <%= @brand.name %>
  </p>

  <p>
    <strong>Added By User:</strong>
    <%= @brand.user.first_name %> <%= @brand.user.last_name %>
  </p>

  <p><td><%= image_tag @brand.image_url if @brand.image %></td></p>
  <%= link_to "Edit", edit_brand_path(@brand) %> |
  <%= link_to "Back", brands_path %>

  <% end %>
<% end %>

<section id="carsTitle">
  <h1><%= @brand.name %> Cars</h1>
  <p>Beginner guides, practical tips, and market updates for first-timers, experienced investors, <br>and everyone in between</p>
</section>

<section id="carsList">
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-left bd-highlight mb-3 flex-wrap cars-container">
        
        <% @brand.cars.each do |car| %>
          <% if car.persisted? %>
            <div class="p-2 bd-highlight w-25 pre-card">
              <div class="card">
                <div class="cars-list-image" style="
          background-image: url(<%= car.image_url %>);
          height: 250px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
      "></div>
                <div class="card-body">
                  <h5 class="card-title"><%= car.year %> <%= car.brand.name %> <%= car.model %></h5>
                  <p class="card-text">
                    <font><b>Price:</b> <%= number_to_currency(car.price, :unit => "P", precision: 0) %></font>
                    <font><b>Milage:</b> <%= number_to_currency(car.mileage, precision: 0, :unit => "") %> KM</font>
                    <font><b>Fuel:</b> <%= car.fuel %></font> 
                  </p>
                  <%= link_to "Make Offer", car, class: "btn btn-primary text-white bg-purple" %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      
      </div>
    </div>
  </div>
</section>



