<p id="notice"><%= notice %></p>


<section id="carsTitle">
  <h1>Explore Cars</h1>
  <p>We make owning a car easy and affordable. <br> Check out our high-quality used cars for sale.</p>
</section>

<% if current_user.present? %>
  <% if current_user.issuperadmin? || current_user.isadmin? %>
    <%= link_to "New Car", new_car_path, class: "d-flex justify-content-center" %>
  <% end %>
<% end %>

<section id="carsList">
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-left bd-highlight mb-3 flex-wrap cars-container">
        <% @cars.each do |car| %>
          <div class="p-2 bd-highlight w-25 pre-card">
            <div class="card">
              <div class="cars-list-image" style="
        background-image: url(<%= car.image_url %>);
        height: 250px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    "></div>
              <div class="card-body">
                <h5 class="card-title"><%= car.year %> <%= car.brand.name %> <%= car.model %></h5>
                <p class="card-text">
                  <font><b>Price:</b> <%= number_to_currency(car.price, :unit => "P", precision: 0) %></font>
                  <font><b>Milage:</b> <%= number_to_currency(car.mileage, precision: 0, :unit => "") %> KM</font>
                  <font><b>Fuel:</b> <%= car.fuel %></font> 
                </p>
                <%= link_to "Make Offer", car, class: "btn btn-primary text-white bg-purple" %>
              </div>
            </div>
          </div>
        <% end %>
      
      </div>
    </div>
  </div>
</section>
