<p id="notice"><%= notice %></p>

<section id="homeFeatured" class="offer-header">
  <div class="container-fluid">
    <div class="row">
        <div class="col left-text">
          <div class="group group-offer-main">
            <h1><%= @car.year %> <%= @car.brand.name %> <%= @car.model %></h1>
            <div class="group-offer">
              <div class="col">
                <p><b>Price: </b><%= number_to_currency(@car.price, :unit => "P", precision: 0) %></p>
                <p><b>Color: </b><%= @car.color %></p>
                <p><b>Dealine: </b><%= @car.deadline %></p>
                <p><b>Plate Number: </b><%= @car.plate_number %></p>
              </div>
              <div class="col">
                <p><b>Fuel: </b><%= @car.fuel %></p>
                <p><b>Mileage: </b><%= number_to_currency(@car.mileage, precision: 0, :unit => "") %> KM</p>
                <p><b>Type: </b><%= @car.type.name %></p>
                <p><b>Warehouse: </b><%= @car.warehouse %></p>
              </div>
            </div>

          </div>
        </div>
        <div class="col right-image"> 
          <div class="group">
            <%= image_tag @car.image_url, style: "width: 100%;height: auto;" if @car.image %>
          </div>
        </div>
    </div>
  </div>
</section>

<section id="offerDetails">
  <h2 class="mb-3">Offer details</h2>
  <%= render "offers/form", offer: @car.offers.build %>
</section>

<% if current_user.present? %>
  <% if current_user.issuperadmin? || current_user.isadmin? %>
        <%= link_to "Edit", edit_car_path(@car) %> |
        <%= link_to "Back", cars_path %>
    <% end %>
<% end %>
